extends layout
include _includes/sharedHTMLfunctions
block content
	.row.banner
		.col-12
			h1= location.name
	.row
		.col-12.col-lg-9
			.row
				.col-12.col-md-6
					p.rating
					+outputRating(location.rating)
					p= location.address
					.card.card-primary
						.card-block
							h2.card-title Opening Hours
							each time in location.openingTimes
									p.card-text
										| #{time.days} :
										if time.closed
												| &nbsp;closed
										else
											| &nbsp;#{time.opening} - #{time.closing}
					.card.card-primary
						.card-block
							h2.card-title Facilities
							each facility in location.facilities
								span.badge.badge-default
									i.fa.fa-check
									| &nbsp;#{facility}
								| &nbsp;
				.col-12.col-md-6.location-map
					.card.card.card-primary
						.card-block
							h2.card-title= pageHeader.title
							img.googlemap.rounded(src="/images/iso-republic-man-in-field-at-sunset.jpg")
							img.googlemap.rounded(src="")
			.row
				.col-12
					.card.card-primary.review-card
						.card-block
							a.btn.btn-primary.float-end(href='/location/review/new') Participate
							h2.card-title Customer Reviews
							each review in location.reviews
								.row.review
									.col-12.review-header
										+outputRating(review.rating)
										//.reviewAuthor class instead m-1? future css?
										span.m-1.review= review.author
										//.reviewTimestamp class
										small.m-3.review= review.date
									.col-12
									p !{(review.reviewText).replace(/\n/g, '<br/>')}
		.col-12.col-lg-3
			p.lead #{location.name} #{sidebar.context}
			p= sidebar.callToAction




